<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
	<title>Add Task</title>
</head>

<body>
	<section id="admin-content" class="p-3" layout:fragment="content">

				<h2 class="text-uppercase text-center">Thêm nhiệm vụ</h2>
	
		
				<form th:action="@{/task/add}" th:object="${task}"  method="post">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Ngày bắt đầu</label> 
								<input type="text" th:field="*{email}" class="form-control" />
								<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
							</div>
							<div class="form-group">
								<label>Deadline</label> 
								<input type="text" th:field="*{email}" class="form-control" />
								<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
							</div>
							<div class="form-group">
								<label>Email</label> 
								<input type="text" th:field="*{email}" class="form-control" />
								<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
							</div>

						</div>
						
						
						<div class="col-12 mt-3">
							<div class="form-group">
								<button type="submit" class="btn btn-primary m-b-0">Lưu
									lại</button>
								<a th:href="@{/user}" class="btn btn-secondary text-white">Quay
									lại</a>
							</div>
						</div>
					</div>
				</form>
	
	</section>

</body>

</html>