  <html xmlns:th="http://www.thymeleaf.org">
  <div class = "sidebar">
    <a
       th:href="@{/user}"
       class="list-group-item list-group-item-action py-2 ripple"
       aria-current="true"
       >
       <i class="material-icons">&#xe7ff;</i>
       <span>Manage users</span>
    </a>
    <a
       th:href="@{/task}"
       class="list-group-item list-group-item-action py-2 ripple active"
       >
      <i class="fa fa-location-arrow me-3"></i
        ><span>Manage tasks</span>
    </a>
    <a
       th:href="@{/route}"
       class="list-group-item list-group-item-action py-2 ripple"
       ><i class='far fa-lightbulb me-3'></i><span>Manage routes</span></a
      >
    <a
       th:href="@{/vehicle}"
       class="list-group-item list-group-item-action py-2 ripple"
       ><i class="fas fa-info-circle me-3"></i
      ><span>Manage vehicles</span></a
      >
    <a
       th:href="@{#}"
       class="list-group-item list-group-item-action py-2 ripple"
       >
       <i class="fa fa-align-justify"></i><span>    Announcement</span>
    </a>
    <a
       th:href="@{#}"
       class="list-group-item list-group-item-action py-2 ripple"
       ><i class="material-icons me-2">&#xe163;</i><span>Logout</span></a>       
</div>
  <script type="text/javascript" th:src="@{/js/sidebarscript.js}"></script>
  
</html>


