<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
	<title>Add route</title>
</head>

<body>
	<section id="admin-content" class="p-3" layout:fragment="content">

				<h2 class="text-uppercase text-center">Thêm tuyến đường</h2>
	
		
				<form th:action="@{/route/add}" th:object="${route}"  method="post">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Tên</label> 
								<input type="text" th:field="*{name}" class="form-control"/>
								<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
							</div>
							
							<div class="form-group">
								<label>Độ dài ước tính</label> 
								<input type="text" th:field="*{length}" class="form-control"/>
								<span class="text-danger" th:if="${#fields.hasErrors('length')}" th:errors="*{length}"></span>
							</div>
							
							<div class="form-group">
									<label>Thuộc task</label> 
									<select th:field="*{task_id}"
										class="form-control">
										<option th:each="item : ${tasks}"
												th:value="${item.id}"
												th:text="${item.id}">
										</option>
										
									</select>
							</div>
						</div>
						
						
						<div class="col-12 mt-3">
							<div class="form-group">
								<button type="submit" class="btn btn-primary m-b-0">Lưu
									lại</button>
								<a th:href="@{/route}" class="btn btn-secondary text-white">Quay
									lại</a>
							</div>
						</div>
					</div>
				</form>
	
	</section>

</body>

</html>