<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/Login.css">
    </head>
    <body>
        
        <div class="login">
            <h1> Login </h1>
            <br>
            <input type="text" class="username" placeholder="Username">
            <input type="text" class="password" placeholder="Password">
                <b>New user?</b>
                <a style="text-decoration: none" href="">Sign Up</a>
            <br>
            <input class="button" type="button" value="Login">
        </div>
    </body>
</html>