<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/Signup.css">
    </head>
    <body>
        
        <div class="signup">
            <h1> Sign Up </h1>
            <br>
            <input type="text" class="firstname" placeholder="First name">
            <input type="text" class="lastname" placeholder="Last name">
            <input type="text" class="username" placeholder="Username">
            <input type="password" class="password" placeholder="Password">
            <input type="password" class="confirmpassword" placeholder="Confirm password">
            <input class="button" type="button" value="Sign up">
            <b>Already have account?</b>
            <a style="text-decoration: none" href="">Log in</a>
        </div>
    </body>
</html>