<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
    <title>MCP list</title>
</head>

<body>

 	<section id="admin-content" class="p-3" layout:fragment="content">

		        <h2 class="text-uppercase text-center">Danh sách MCP</h2>
		        <a th:href="@{/mcp/add}" class="btn btn-sm btn-primary">Thêm
		            mới</a>

		        	<br>
		            <table class="table table-bordered">
		                <thead>
		                    <tr>
		                        <th>STT</th>
		                        <th>Độ đầy</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:if="${mcps.empty}">
		                        <td colspan="2">Không có bản ghi nào được tìm thấy!</td>
		                    </tr>
		                    <tr th:each="item : ${mcps}">
		                        <th th:text="${item.id}"/>
		                        <td th:text="${item.fullness}"/>
		                        <td><a href="#"
		                            class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Sửa</a>
		                            <a th:href="@{/mcp/delete/{id}(id=${item.id})}"
		                            class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Xóa</a>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>

		    
		    </section>
		    

    
</body>
</html>